# Exclude Python bytecode files
*.pyc
*.pyo
*.pyd

# Exclude Python cache directories
__pycache__

# Exclude virtual environment directories (assuming you use virtualenv or venv)
venv/
.env

# Exclude any local development files or directories
.vscode/
.idea/

# Exclude any version control directories or files
.git/
.gitignore

# Exclude any editor-specific files or directories
*.swp

# Exclude any log files
logs/
*.log

# Exclude models
models/

docker-compose.yml
